

<div class="cards-header">
    <div (click)="close()">
        <img class="wrong" src="assets/wrong.png" >
    </div>
    <div *ngFor="let item of moviesPopUpUi">
           <div class="card-body">
            <div  class="movieImage">
                <img class="movieImg" [src]="item.imgaeUrl"  alt="Movie Poster">
            </div>
            <div class="movie-title">{{item.title}}</div>
            <div class="geners">{{ item.genres}}</div>
            <div class="discription">{{item.description}}</div> 
    
    
           </div>
    
    </div>
    </div>